
node_modules/
.pnp
.pnp.js


dist/
out/
build/
*.asar


.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
Icon?
.fseventsd
.DocumentRevisions-V100
.TemporaryItems

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

.env
.env.local
.env.*.local


.npm
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz




!build/
!build/icon.png
